body {
    padding: 0;
    margin: 0;
    background-color: #ccc;
}

nav {
    height: 40px;
    padding: 5px;
    background: -webkit-linear-gradient(top, #666, #333);
    color: #fff;
}

nav .logo {
    float: left;
}

#login,
#logout {
    margin-top: 3px;
}

#user-info,
#login,
#logout {
    float: right;
}

#user-info {
    margin-right: 15px;
}

#user-info img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/*
#logout {
    display: none;
}

body.connected #login {
    display: none;
}

body.connected #logout {
    display: block;
}
*/

#find-mentors img {
    width: 50px;
}

#find-mentors .filter {
    margin-bottom: 1em;
}

.page {
    display: none;
    width: -webkit-calc(100% - 20px);
    padding: 10px;
}

.page.current {
    display: block;
}

.subject-panel,
.mentor-suggestion {
	background: white;
	border: 1px solid grey;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
}

.small {
	font-size: 0.9em;
	color: grey;
}

